<!DOCTYPE html>
<html>

<head>
  <title>Lista de Estudiantes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <!-- NAV -->
  <section>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Escuela</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Estudiantes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- TABLA -->
  <section>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="openModalBtn">
      Agregar Estudiante
    </button>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <% for (const key in estudiantes[0]) { %>
              <th>
                <%= key %>
              </th>
              <% } %>
          </tr>
        </thead>
        <!-- <tbody>
          <% estudiantes.forEach(estudiante=> { %>
            <tr>
              <% for (const key in estudiante) { %>
                <td>
                  <%= estudiante[key] %>
                </td>
                <% } %>
            </tr>
            <% }); %>
        </tbody> -->
        <tbody>
          <% estudiantes.forEach((estudiante, index)=> { %>
            <tr data-estudiante='<%= JSON.stringify(estudiante) %>' class="selectable-row" data-index="<%= index %>">
              <% for (const key in estudiante) { %>
                <td>
                  <%= estudiante[key] %>
                </td>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </section>
  <!-- Modal -->
  <section>
    <div id="myModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar estudiante</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="modalContent"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SCRIPT
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const openModalBtn = document.getElementById('openModalBtn');
      const modal = document.getElementById('myModal');
      const modalContent = document.getElementById('modalContent');
      const selectableRows = document.querySelectorAll('.selectable-row');

      openModalBtn.addEventListener('click', async () => {
        try {
          const response = await fetch(`http://localhost:5000/add`);
          const addFormContent = await response.text();
          modalContent.innerHTML = addFormContent;
          modal.style.display = 'block';
        } catch (error) {
          console.error(error);
        }
      });

      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      });


      // document.addEventListener("DOMContentLoaded", function () {
      //   var filas = document.querySelectorAll("tbody tr");

      //   filas.forEach(function (fila) {
      //     fila.addEventListener("click", function () {
      //       var estudianteSeleccionado = JSON.parse(this.getAttribute("data-estudiante"));
      //       alert("Información del estudiante:\n" + JSON.stringify(estudianteSeleccionado));
      //     });
      //   });
      // });

      // selectableRows.forEach(row => {
      //   row.addEventListener('click', () => {
      //     const rowIndex = row.getAttribute('data-index');
      //     console.log(rowIndex)
      //     const estudiante = estudiantes[rowIndex];
      //     const estudianteInfo = Object.entries(estudiante)
      //       .map(([key, value]) => `<p><strong>${key}:</strong> ${value}</p>`)
      //       .join('');
      //     modalContent.innerHTML = estudianteInfo;
      //     modal.style.display = 'block';
      //   });
      // });

      document.addEventListener("DOMContentLoaded", function () {
        const filas = document.querySelectorAll("tbody tr");
        const modal = document.getElementById('modal');
        const modalContent = document.getElementById('modalContent');

        filas.forEach(function (fila) {
          fila.addEventListener("click", function () {
            const estudiante = JSON.parse(this.getAttribute("data-estudiante"));
            const estudianteInfo = Object.entries(estudiante)
              .map(([key, value]) => `<p><strong>${key}:</strong> ${value}</p>`)
              .join('');
            modalContent.innerHTML = estudianteInfo;
            modal.style.display = 'block';
          });
        });
      });
    });
  </script> -->

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const openModalBtn = document.getElementById('openModalBtn');
      const modal = document.getElementById('myModal');
      const modalContent = document.getElementById('modalContent');
      const selectableRows = document.querySelectorAll('.selectable-row');

      // Evento para abrir el modal con el formulario
      openModalBtn.addEventListener('click', async () => {
        try {
          const response = await fetch(`http://localhost:5000/add`);
          const addFormContent = await response.text();
          modalContent.innerHTML = addFormContent;
          modal.style.display = 'block';
        } catch (error) {
          console.error(error);
        }
      });

      // Evento para cerrar el modal si se hace clic fuera de su contenido
      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      });

      // Evento para mostrar los detalles del estudiante en el modal al hacer clic en una fila
      /*       selectableRows.forEach(row => {
              row.addEventListener('click', () => {
                const estudianteData = row.getAttribute('data-estudiante');
                const estudiante = JSON.parse(estudianteData);
                const estudianteInfo = Object.entries(estudiante)
                  .map(([key, value]) => `<p><strong>${key}:</strong> ${value}</p>`)
                  .join('');
                modalContent.innerHTML = estudianteInfo;
                modal.style.display = 'block';
              });
            }); */
      // Evento para mostrar los detalles del estudiante en el modal al hacer clic en una fila
      selectableRows.forEach(row => {
        row.addEventListener('click', async () => {
          const response = await fetch(`http://localhost:5000/add`);
          const addFormContent = await response.text();
          modalContent.innerHTML = addFormContent;
          const estudianteData = row.getAttribute('data-estudiante');
          const estudiante = JSON.parse(estudianteData);

          // Obtén los campos del formulario
          const carneInput = document.querySelector('#myModal [name="carne"]');
          const nombresInput = document.querySelector('#myModal [name="nombres"]');
          const apellidosInput = document.querySelector('#myModal [name="apellidos"]');
          const direccionInput = document.querySelector('#myModal [name="direccion"]');
          const telefonoInput = document.querySelector('#myModal [name="telefono"]');
          const correoInput = document.querySelector('#myModal [name="correo_electronico"]');
          const tipoSangreInput = document.querySelector('#myModal [name="id_tipo_sangre"]');
          const fechaNacimientoInput = document.querySelector('#myModal [name="fecha_nacimiento"]');

          // Llena los valores en los campos del formulario
          carneInput.value = estudiante.carné;
          nombresInput.value = estudiante.nombres;
          apellidosInput.value = estudiante.apellidos;
          direccionInput.value = estudiante.direccion;
          telefonoInput.value = estudiante.telefono;
          correoInput.value = estudiante.correo;
          tipoSangreInput.value = estudiante['Tipo de Sangre']; // Ajusta esto según el valor real en el objeto estudiante
          fechaNacimientoInput.value = estudiante['fecha nacimiento']; // Ajusta esto según el valor real en el objeto estudiante

          // Mostrar el modal
          modal.style.display = 'block';
        });
      });


    });
  </script>
</body>

</html>